
.celda {
    height: 25px;
    width: 30px;
    text-align: center;
    font-size: 11pt;
    padding-top: 5px;
    font-family: 'CustomFont', sans-serif;
}

.es-heroe {
    background-color: rgb(94, 0, 0) !important;
    color: white !important;
}

.linea {
    position: absolute;
    border: 2px solid red;
    border-radius: 50%;
    box-shadow: 1px 2px 3px #00000080;
}

@font-face {
    font-family: 'CustomFont';
    src: url(../../../../../assets/gobold/GoboldRegular.otf);
    font-weight: normal;
  }