<div class="container-ubicaciones">

    <div class="titulo-ubicaciones">
        <div class="cortina">
            <div class="texto-titulo" fxLayoutAlign="center center">
                Ubicaciones del enlace
            </div>
        </div>
    </div>

    <div fxLayout="row wrap">

        <div class="descripcion iglesia" fxFlex="50" fxFlex.xs="100" fxFlex.sm="100">
            <div class="cortina" fxLayout="column" fxLayoutAlign="center center">

                <div class="linea-texto">
                    Santuario Virgen del Puerto
                </div>

                <div class="linea-texto">
                    Hora: 13:00
                </div>

                <a class="como-llegar"
                    [href]="ubicacionIglesia"
                    target="_blank">
                    Cómo llegar
                </a>
            </div>
        </div>
        
        <div class="ubicacion-iglesia" fxFlex="50" fxFlex.xs="100" fxFlex.sm="100">
            <div id="mapaIglesia" class="mapa"></div>
        </div>

    </div>

    <div fxLayout="row wrap">
        
        <div class="ubicacion-parador" fxFlex="50" fxFlex.xs="100" fxFlex.sm="100"
            fxShow.sm="false" fxShow.xs="false" fxShow="true">
            
            <div id="mapaParador" class="mapa"></div>

        </div>

        <div class="descripcion parador" fxFlex="50" fxFlex.xs="100" fxFlex.sm="100">
            <div class="cortina" fxLayout="column" fxLayoutAlign="center center">

                <div class="linea-texto">
                    Parador de Plasencia
                </div>

                <a class="como-llegar" 
                    [href]="ubicacionParador"
                    target="_blank">
                    Cómo llegar
                </a>
            </div>
        </div>

        <div class="ubicacion-parador" fxFlex="50" fxFlex.xs="100" fxFlex.sm="100"
        fxShow.sm="true" fxShow.xs="true" fxShow="false">
            <div id="mapaParador2" class="mapa"></div>
        </div>
        
    </div>

</div>