<div class="container">

    <div class="titulo-distribucion-mesas">
        <div class="cortina">
            <div class="texto-titulo" fxLayoutAlign="center center">
                Distribución de invitados
            </div>
        </div>
    </div>

    <div fxLayoutAlign="center" class="spinner-carga" *ngIf="vMesas.length === 0">
        <app-spinner-carga></app-spinner-carga>
    </div>

    <div *ngIf="vMesas.length > 0">
        <app-input-busqueda (eventoBusqueda)="aplicarBusqueda($event)"></app-input-busqueda>
    </div>

    <div fxLayout="row wrap" class="container-tarjetas-grande" fxLayoutAlign="center" *ngIf="vMesas.length > 0">

        <div class="container-tarjetas" fxLayout="row wrap" fxLayoutAlign="center">

            <div class="content-tarjeta" *ngFor="let mesa of vMesasMostradas" fxFlex="30" fxFlex.sm="45" fxFlex.xs="90">
                <app-tarjeta [mesa]="mesa"></app-tarjeta>
            </div>

        </div>



    </div>

</div>

<div class="fondo">
    <div class="cortina"></div>
</div>

<div class="dialog-listado-invitados" *ngIf="mostrandoListado">
    <div class="listado-invitados">
        <div class="listado" fxLayout="column" fxLayoutAlign="center center">
            <div class="invitado-item" *ngFor="let invitidado of vInvitadosMostrados">
                {{ invitidado.nombre }}
            </div>
            <div class="boton-cerrar-listado-invitados" (click)="mostrandoListado = false">
                Cerrar listado
            </div>
        </div>

    </div>
</div>

<div class="dialog-sopa-letras" *ngIf="mostrandoSopaLetras">
    <div>
        <app-sopa-letras #sopaDeLetras [heroeSt]="heroeSr!" [vNombres]="vNombres"></app-sopa-letras>
    </div>
    <div class="botonera-cerrar-sopa-letras" fxLayoutAlign="center">
        <div class="boton" (click)="cerrarSopaDeLetras()">
            Cerrar sopa
        </div>
    </div>
</div>