/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root {
    --animate-delay: 0.25s;

    --tono1: #361D42;
    --tono1-transparente: #361D4280;
    --tono2: #7A4495;
    --tono3: #B270A2;
    --tono3-transparente: #B270A280;
    --tono4: #FF8FB1;
    --tono5: #ffbcd0;
    --tono6: #FCE2DB;
    --tono6-tb-item: #fce2dbc0;
    --tono7: #fbefeb;
    --tono8: #fffaf8;
    --tono5-transparente: #ffbcd01c;
    --tono-box-shadow: #00000050;

    --tr-texto-items: 0.3s;
    --trd-texto-items: 0.55s;
    --tr-menu: 0.55s;

    --transparente-1: #ffffff80;
    --transparente-2: #fffffff0;
}


@font-face {
    font-family: 'Comic Book Font';
    src: url(assets/comicbook/ComicBook.otf);
}